html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, #b42f2f, #7c56c9, #155ca4);
}

.container {
  padding-top: 40px;
}

.mainContainer {
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.taskContainer {
  width: 300px;
  height: 450px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.278);
  margin-bottom: 20px;
  position: relative;
}

.content {
  overflow-y: scroll;
  max-height: 340px;
}

.title {
  padding: 10px 0;
  color: white;
  font-size: 23px;
  text-align: center;
  border-bottom: 1px solid rgb(205, 205, 205);
}

.btn {
  height: 50px;
  position: absolute;
  bottom: 0;
  min-width: 300px;
  max-width: 400px;
  background-color: rgb(112, 65, 150);
  border-radius: 0px 0px 15px 15px;
  color: white;
}
